[submodule "service-java"]
	path = service-java
	url = https://github.com/Hackaton-Project-Devs2Blu/service-java.git
[submodule "service-csharp"]
	path = service-csharp
	url = https://github.com/Hackaton-Project-Devs2Blu/service-csharp.git
[submodule "service-flutter"]
	path = service-flutter
	url = https://github.com/Hackaton-Project-Devs2Blu/service-flutter.git
[submodule "service-devops"]
	path = service-devops
	url = https://github.com/Hackaton-Project-Devs2Blu/service-devops.git
